<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    
   	<!-- pliki css: -->
	<link th:href="@{/css/styl.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/animacje.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/css/responsywny.css}" rel="stylesheet" media="screen"/>
	<!-- czcionka -->
<!-- 	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,latin-ext" rel="stylesheet"/> -->
	<link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/gif" />

    <title>Panel admina - usun uzytkownika</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
	<div class="container pod-menu">
		<h1>Czy na pewno chcesz usunac tego uzytkownika?</h1>
        <div class="form-wrapper">
			<form class="form-group" action="#" method="post" th:action="@{'/deleteUser/' + ${userToDelete.userId}}">
				<p th:utext="|Autor: ${userToDelete.firstName} ${userToDelete.lastName}|"></p>
				<p th:utext="|Email: ${userToDelete.email}"></p>
				<p th:utext="|Data rejestracji: ${userToDelete.registrationDate}|"></p>
				<input type="submit" value="Usun" />
				<a th:href="@{/panelAdmina/listaUzytkownikow}"><input type="button" value="Wroc"/></a>
			</form>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>